@{
    ViewData["Title"] = "Water Fit Aquatics";
    Layout = "~/Views/Shared/_LayoutCarosel.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <h2>Schedules</h2>
        <ul>
            <li><a href="#">All Practices</a></li>
            <li><a href="#">Seniors Practice Schedule</a></li>
            <li><a href="#">Juniors Practice Schedule</a></li>
            <li><a href="#">Jr Juniors Practice Schedule</a></li>
            <li><a href="#">Upcoming Meets</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="#">Start</a></li>
            <li><a href="#">Swim</a></li>
            <li><a href="#">Turn</a></li>
            <li><a href="#">Win</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="#">What is waterfit?</a></li>
            <li><a href="#">Stroke fundamentals</a></li>
            <li><a href="#" title="Including proper cap selection and fit." >Advanced stroking</a></li>
            <li><a href="#">Safety</a></li>
            <li><a href="#">Parent development</a></li>
            <li><a href="#">Training plan.</a></li>
            <li><a href="#">Library</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Managment</h2>
        <ul>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Coaches</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Swimmers</a></li>
        </ul>
    </div>
</div>
